alias cdgo="cd ~/code/go/src/github.com/squareup/go-square"	
alias cdmo="cd ~/code/go/src/github.com/moshegood"
alias gg="git grep"
alias vim="nvim"
alias localstack="docker run --rm -it -p 4566:4566 -p 4510-4559:4510-4559 localstack/localstack"
alias ij="ENVIRONMENT=development '/Applications/IntelliJ IDEA.app/Contents/MacOS/idea'" 
alias sftp_mailbox="sftp -P 2222 -oHostKeyAlgorithms=+ssh-rsa  -oPubkeyAcceptedAlgorithms=+ssh-rsa -i ~/.ssh/staging.test.user.sftp test-user@sftp-stg.p.sjc1.squareup.com"
alias fzfjq="echo '' | fzf --preview 'jq {q} < pods.json'"
alias pr="gh pr create -d"
